<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mybatis.TheInterfaceMapper">
	<insert id="xmlDirect">
		INSERT INTO the_table(the_interface) VALUES (#{theInterface})
	</insert>
	<insert id="xmlDirectUsingTypeHandler">
		INSERT INTO the_table(the_interface) VALUES (#{theInterface, typeHandler=com.example.demo.mybatis.TheInterfaceTypeHandler})
	</insert>
	
	<insert id="xmlWithModel">
		INSERT INTO the_table(the_interface) VALUES (#{theInterface})
	</insert>
	<insert id="xmlWithModelUsingTypeHandler">
		INSERT INTO the_table(the_interface) VALUES (#{theInterface, typeHandler=com.example.demo.mybatis.TheInterfaceTypeHandler})
	</insert>
</mapper>
